<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="bg" [fullscreen]="true">
  <div id="container">
    <ion-card class="ios hydrated">
      <img alt="" src="../../assets/img/paulo.png">
      <ion-card-header class="ion-inherit-color ios hydrated">
        <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Créditos da imagem ao Luana 2DG
        </ion-card-subtitle>
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Semana Paulo Freire
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ios card-content-ios hydrated">
        Na semana Paulo Freire o segundo Ds foi pedido pra fazer um aplicativo de tema livre, algo relacionado com educacao e aprendizagem
      </ion-card-content>
    </ion-card>
<div class="text">
    <h2>Um pouco sobre Nosso Projeto</h2>
    <p style="text-align: justify; padding: 5px;">A ideia do nosso app surgiu semana passada bem rapida pra sermos sinceros com a informação sobre termos de fazer
      um app para apresentação. O que consiste a ideia? Desenvolvimento de sistemas é um curso bem abrangente, abordando
      criação de sites, apps e entre outros. E o que isso é relevante? Acreditamos que todos os cursos tem uma conexão
      com DS, mesmo que seja bem pouca. Então veio a idéia de um QUIZ e nesse quiz cada curso tem sua aréa especifica
      com perguntas sobre como o curso se relaciona com os outros. Um exemplo disso seria com Administração, em qualquer
      areá de vendas, os vendedores precisam ter acesso ao que eles venderam e oque compraram e a menos que estejam
      presos na idade das pedras, provavelmente usam um Banco de dados que é um dos assuntos abordados em DS.</p>
    <br>
    <a href="https://github.com/EyzRyder/Quiz-de-DS" target="_blank">
    <ion-chip>
      <ion-avatar>
        <svg height="22" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="22" data-view-component="true">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
      </svg>
      </ion-avatar>
      <ion-label>GitHub</ion-label>
    </ion-chip>
  </a>
</div>
    <div class="devs">
      <ion-list class="md list-md hydrated">
        <ion-list-header class="md hydrated"> Desenvolvedores </ion-list-header>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/img/Desenvolvidores/Gabriel.jpg">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Gabriel Bessi</h2>
            <h3>2DS</h3>
            <a href="https://github.com/EyzRyder" target="_blank" rel="noopener noreferrer"><p>EyzRyder</p></a>
            <a href="https://eyzryder.github.io/" target="_blank" rel="noopener noreferrer"><p>Portfólio</p></a>
          </ion-label>
        </ion-item>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/img/Desenvolvidores/Kaua.jpg">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Kauã Miguel</h2>
            <h3>2DS</h3>
            <a href="https://github.com/Kc1t" target="_blank" rel="noopener noreferrer"><p>Kc1t</p></a>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="md list-md hydrated">
        <ion-list-header class="md hydrated"> Pesquisadores </ion-list-header>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/img/Pesquisadores/Enzo.jpeg">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Enzo Rodrigues</h2>
            <h3>2DS</h3>
            <a href="https://www.instagram.com/enzo_rodriguesg/" target="_blank" rel="noopener noreferrer"><p>@enzo_rodriguesg</p></a>
          </ion-label>
        </ion-item>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/img/Pesquisadores/Cesar.jpeg">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Cesar</h2>
            <h3>2DS</h3>
            <p>Se tem um jeito de explicar algo <br>
              simplificado sem perder os detalhes,<br>
              esse é o jeito de explicar.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
