<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="bg" [fullscreen]="true">
  <div id="container">
    <ion-card class="ios hydrated">
      <img alt="" src="../../assets/img/paulo.png">
      <ion-card-header class="ion-inherit-color ios hydrated">
        <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Cretidos da imagem ao Luana 2DG
        </ion-card-subtitle>
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Semana Paulo Freire
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ios card-content-ios hydrated">
        Na semana Paulo Freire o segundo Ds foi pedido pra fazer um aplicativo de tema livre, algo relacionado com educacao e aprendizagem
      </ion-card-content>
    </ion-card>

    <h2>Um pouco sobre Nosso Projeto</h2>
    <p>A ideia do nosso app surgiu semana passada bem rapida pra sermos sinceros com a informação sobre termos de fazer
      um app para apresentação. Oque consiste a ideia? Desenvolvimento de sistemas é um curso bem abrangente, abordando
      criação de sites, apps e entre outros. E o que isso é relevante? Acreditamos que todos os cursos tem uma conexão
      com DS, mesmo que seja bem pouca. Então veio a idéia de um QUIZ e nesse quiz cada curso tem sua aréa especifica
      com perguntas sobre como o curso se relaciona com os outros. Um exemplo disso seria com Administração, em qualquer
      areá de vendas, os vendedores precisam ter acesso ao que eles venderam e oque compraram e a menos que estejam
      presos na idade das pedras, provavelmente usam um Banco de dados que é um dos assuntos abordados em DS.</p>
    <br>
    <a href="https://github.com/EyzRyder/Quiz-de-DS" target="_blank">
    <ion-chip>
      <ion-avatar>
        <img src="../../assets/shapes.svg">
      </ion-avatar>
      <ion-label>GitHub</ion-label>
    </ion-chip>
  </a>
    <div>
      <ion-list class="md list-md hydrated">
        <ion-list-header class="md hydrated"> Desenvolvedores </ion-list-header>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/icon/favicon.png">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Gabriel Bessi</h2>
            <h3>2DS</h3>
            <a href="https://github.com/EyzRyder" target="_blank" rel="noopener noreferrer"><p>EyzRyder</p></a>
          </ion-label>
        </ion-item>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/icon/favicon.png">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Kauã Miguel</h2>
            <h3>2DS</h3>
            <a href="https://github.com/Kc1t" target="_blank" rel="noopener noreferrer"><p>Kc1t</p></a>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="md list-md hydrated">
        <ion-list-header class="md hydrated"> Pesquisadores </ion-list-header>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/icon/favicon.png">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Enzo Rodrigues</h2>
            <h3>2DS</h3>
            <a href="https://www.instagram.com/enzo_rodriguesg/" target="_blank" rel="noopener noreferrer"><p>@enzo_rodriguesg</p></a>
          </ion-label>
        </ion-item>

        <ion-item class="item-has-start-slot item md item-fill-none in-list hydrated item-label">
          <ion-avatar slot="start" class="md hydrated">
            <img src="../../assets/icon/favicon.png">
          </ion-avatar>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            <h2>Cesar</h2>
            <h3>2DS</h3>
            <p>Pokemon</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
