<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <div id="container">
  // SOBRE O APP: <br>
  (ALGUMA IMAGEM APONTANDO PRA BAIXO OU ALGO DO TIPO OU DE INTERROGAÇÃO) <br>
<br>
  //Um pouco sobre a ideia do nosso app!<br>
  //Um pouco sobre o APP<br>
  //Oque é nosso APP<br>
  //OQue é Nosso Projeto<br>
  <p>A ideia do nosso app surgiu semana passada bem rapida pra sermos sinceros com a informação sobre termos de fazer um app para apresentação. Oque consiste a ideia? Desenvolvimento de sistemas é um curso bem abrangente, abordando criação de sites, apps e entre outros. E o que isso é relevante? Acreditamos que todos os cursos tem uma conexão com DS, mesmo que seja bem pouca. Então veio a idéia de um QUIZ e nesse quiz cada curso tem sua aréa especifica com perguntas sobre como o curso se relaciona com os outros. Um exemplo disso seria com Administração, em qualquer areá de vendas, os vendedores precisam ter acesso ao que eles venderam e oque compraram e a menos que estejam presos na idade das pedras, provavelmente usam um Banco de dados que é um dos assuntos abordados em DS.</p>
<br>
  <p>Aplicativo Desenvolvido Por: Gabriel Bessi, Kaua, Enzo, Cesar, de 2DS, Usando ionic Angular.</p>
  </div>
</ion-content>
