.ioncolwrap{
  flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
  width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
  max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
}
.quiz-icon{
  margin: 10px 0;
  padding: 0%;
  position: relative;
}
.quiz-name{
  color: #af5312;
  font-family: Nunito-ExtraBold;
  font-size: 24px;
}
.box{
  position: absolute;

}
.quiz-box{
text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px){
  .ioncolwrap{
        flex: 0 0 calc(6 / var(--ion-grid-columns, 12) * 50%);
          width: calc(6 / var(--ion-grid-columns, 12) * 50%);
          max-width: calc(6 / var(--ion-grid-columns, 12) * 100%);
  }
}