.ioncolwrap{
  flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
  width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
  max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
}
.quiz-icon{
  margin: 10px 0;
  padding: 0%;
  position: relative;
}
.quiz-name{
  color: #af5312;
  font-family: Nunito-ExtraBold;
  font-size: 24px;
}
.box{
  position: absolute;
  top: 34%;
  left: 30%;
}
.quiz-box{
  text-align: center;
  position: relative;
}
ion-content#bg {
  --background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='700' preserveAspectRatio='none' viewBox='0 0 400 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3257%26quot%3b)' fill='none'%3e%3crect width='400' height='700' x='0' y='0' fill='url(%23SvgjsLinearGradient3258)'%3e%3c/rect%3e%3cpath d='M4 700L704 0L725 0L25 700z' fill='url(%23SvgjsLinearGradient3259)'%3e%3c/path%3e%3cpath d='M136 700L836 0L966.5 0L266.5 700z' fill='url(%23SvgjsLinearGradient3259)'%3e%3c/path%3e%3cpath d='M382 700L-318 0L-363 0L337 700z' fill='url(%23SvgjsLinearGradient3260)'%3e%3c/path%3e%3cpath d='M265 700L-435 0L-487.5 0L212.5 700z' fill='url(%23SvgjsLinearGradient3260)'%3e%3c/path%3e%3cpath d='M91.457254953144 700L400 391.457254953144L400 700z' fill='url(%23SvgjsLinearGradient3259)'%3e%3c/path%3e%3cpath d='M0 700L308.542745046856 700L 0 391.457254953144z' fill='url(%23SvgjsLinearGradient3260)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3257'%3e%3crect width='400' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-18.75%25' y1='10.71%25' x2='118.75%25' y2='89.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3258'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(84%2c 83%2c 13%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient3259'%3e%3cstop stop-color='rgba(169%2c 183%2c 11%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(169%2c 183%2c 11%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient3260'%3e%3cstop stop-color='rgba(169%2c 183%2c 11%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(169%2c 183%2c 11%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
