<br>
<ion-content>
  <ion-row>
    <ion-col size="12" style="text-align: center; font-weight: bold; margin-top: 2%;">
      <ion-label style="color: #92DC58; font-family: 'Nunito-ExtraBold'; font-size: 24px;">
        Cursos
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row style="padding: 1%;">
      <ion-col class="ioncolwrap">
        <div (click)="q1()" class="quiz-box">
          <div><img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png"></div>
          <div class="box">
            <div class="quiz-name">Etim</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q2()" class="quiz-box">
          <div>
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">Adm</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q3()" class="quiz-box">
          <div>
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">Sj</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q4()" class="quiz-box">
          <div>
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">Dg</div>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="ioncolwrap">
        <div (click)="q5()" class="quiz-box">
          <div >
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">Ev</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q6()" class="quiz-box">
          <div>
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div  class="box">
            <div class="quiz-name">Hum</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q7()" class="quiz-box">
          <div>
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div  class="box">
            <div class="quiz-name">Bio</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q8()" class="quiz-box">
          <div >
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">info</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q9()" class="quiz-box">
          <div >
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div class="box">
            <div class="quiz-name">Di</div>
          </div>
        </div>
      </ion-col>
      <ion-col class="ioncolwrap">
        <div (click)="q10()" class="quiz-box">
          <div >
            <img alt="" class="quiz-icon" src="../../assets/img/experimental-109.png">
          </div>
          <div  class="box">
            <div class="quiz-name">Sec</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
