<ion-content class="content-page" [fullscreen]="true">
  <br><br>
  <div class="top">
    <div class="time">
      <p>Tempo</p>
      <p class="counter">
        <span class="hour yellow">{{questionService.hh}}</span>:
        <span class="minute yellow">{{questionService.mm}}</span>:
        <span class="second yellow">{{questionService.ss}}</span>
      </p>
    </div>
    <div class="score">
      <p>Pontuação</p>
      <ion-chip color="secondary">
        <p class="score yellow">{{questionService.points}}</p>
      </ion-chip>
    </div>
  </div>
  <div class="container">
    <div class="center">
      <span>Questão {{questionService.questionCount}}/5</span>
      <div class="question">
        {{curQuesion.title}}
      </div>
      <i>
        <span>{{curQuesion.description}}</span>
      </i>

      <div class="flex">
        <div (click)="doAnswer(answer)" *ngFor="let answer of curQuesion.answers" class="answers">
          <span class="answer">{{answer.description}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>