<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz de DS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="bg" [fullscreen]="true">
  <div id="container">
    <div> <br> <br>
    <div class="logo"><img src="../../assets/img/experimental-ring-2-diagram-3.png" alt="" width="50%" height="50%"></div>
    <div class="text">
      <br>
      <h4>Bora?!</h4>
      <div class="item" lines="none">
        <p class="label">
          Quiz da Relacao do DS com os outros cursos, atividade da Semana Paulo Freire
        </p>
      </div>
    </div>
<div class="buttons">
      <ion-button routerLink="/level" expand="block" fill="solid" class="btn">Jogue agora</ion-button>
      <ion-button (click)="go()" expand="block" fill="outline" class="btn2">Sobre</ion-button>
</div>

  </div>
</div>
</ion-content>
