ion-content{
  --background-position: center;
  --background-attachment: fixed;
  --background-repeat: no-repeat;
  background-size: cover;
}
.container {
  text-align: center;
  color: aliceblue;
  padding: 10px;
  position: absolute;
}
label{
  color: yellow;
}
