<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="all-black-section">
    <div class="container">
      <br><br><br><br>
      <ion-card>
         <p>Voce acertou <label>{{questionService.endpoint}}</label>/<label>5</label> em <label>{{questionService.hhf}}</label>:<label>{{questionService.mmf}}</label>:<label>{{questionService.ssf}}</label> de tempo</p>
        <ion-card-content>
          <p>Voce pode jogar de novo ou voltar pra menu incial pra saber mais sobre nosso projeto!</p>
        </ion-card-content>
      </ion-card>

      <br>

      <ion-button routerLink="/../level" expand="block" fill="outline" class="btn2">Jogar de Novo</ion-button>
      <br>
      <ion-button routerLink="/../../home" expand="block" fill="outline" class="btn2">Voltar</ion-button>
    </div>
  </div>
</ion-content>
