<ion-content class="content-page">
  <br><br>
  <div class="top">
    <div class="time">00:00</div>
    <div class="score">{{points}}</div>
  </div>
  <div class="container">
    <div class="center">
      <span>Questao {{curNumber}}/5</span>
      <div class="question">
        {{curQuesion.title}}
      </div>
      <i>
        <span>{{curQuesion.description}}</span>
      </i>

      <div class="flex">
        <div (click)="doAnswer(answer)" *ngFor="let answer of curQuesion.answers" class="answers">
          <span class="answer">{{answer.description}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
