<br><br>
<ion-content class="content-page">
  <div class="top">
    <div class="time">00:00</div>
    <div class="score">0</div>
  </div>
  <div class="container">
    <div class="center">
      <p>Questao 1/5</p>
      <div class="question">
        {{curQuesion.title}}
      </div>
      <i>
        <p>
          The median means thes 50% makes above the number and 50%makes below it.
        </p>
      </i>

      <div class="flex">
        <div class="answers">
          <span class="number">1</span>
          <span class="answer">a</span>
        </div>
        <div class="answers">
          <span class="number">2</span>
          <span class="answer">b</span>
        </div>
        <div class="answers">
          <span class="number">3</span>
          <span class="answer">c</span>
        </div>
        <div class="answers">
          <span class="number">4</span>
          <span class="answer">d</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
