<ion-content class="content-page">
  <br><br>
  <div class="top">
    <div class="time">00:00</div>
    <div class="score">0</div>
  </div>
  <div class="container">
    <div class="center">
      <p>Questao 1/5</p>
      <div class="question">
        {{curQuesion.title}}
      </div>
      <i>
        <p>
          The median means thes 50% makes above the number and 50%makes below it.
        </p>
      </i>

      <div class="flex">
        <div (click)="doAnswer(answer)" *ngFor="let answer of curQuesion.answers" class="answers">
          <span class="answer">{{answer.description}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
